body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
img {
    width: 100%;
}
p {
    font-size: 16px;
    color: #3E3E3E;
}
h1,h2,h3 {
    color: #333333;
}
.full-width {
    width: 80%;
    margin: auto;
}
.half-width {
    width: 50%;
}
.section-inline {
    display: flex;
    align-items: center;
}
.f-size-18 {
    font-size: 18px;
}
.main-title {
    border-left-width: 4px;
    border-left-style: solid;
    border-image-source: linear-gradient(#FF5959, #FF3939);
    border-image-slice: 1;
    padding-left: 10px;
}
.main-title h1 {
    font-family: 'Yeseva One', cursive;
    font-size: 55px;
    font-weight: 500;
    margin: 0;
}
.main-title h1 span {
    color: #FFAD5A;
}
.mission-btn {
    background-image: linear-gradient(#FF5959, #FF3939);
    padding: 10px 25px;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
}

.float-right {
    float: right;
}
.feature-image {
    max-width: 420px;
}
.text-center {
    text-align: center;
}
#our-missions {
    background-image: url(images/shapes/dots-bg-2.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 100px;
}
#our-missions h1 {
    font-size: 48px;
    color: #13103a;
}
#our-missions h1 span {
    color: #FFAD5A;
}
.mission:first-child {
    margin-left: 0;
}
.mission {
    margin: 10px;
    padding: 25px;
    border-radius: 20px;
}
.mission h3 {
    font-size: 25px;
}
.mission img {
    width: 150px;
}

#about-me {
    background-image: url(images/shapes/bg-shapes.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 265px;
}


.bg-cyan {
    background-color: rgba(79, 157, 166, 0.212);
}.bg-red {
    background-color: rgba(255, 89, 89, 0.212);
}.bg-yellow {
    background-color: #fff4d6;
}.bg-black {
    background-color: #0B0D17;
}

footer {
    text-align: center;
}
footer h2 {
    font-family: 'Lobster', cursive;
}
footer p {
    font-family: 'Manrope', sans-serif;
}