body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
img {
    width: 100%;
}
p {
    font-size: 16px;
    color: #3E3E3E;
}
h1,
h2,
h3 {
    color: #333333;
}
.bg-cyan {
    background-color: rgba(79, 157, 166, 0.212);
}.bg-red {
    background-color: rgba(255, 89, 89, 0.212);
}.bg-yellow {
    background-color: #fff4d6;
}.bg-black {
    background-color: #0B0D17;
}
.full-width {
    width: 80%;
    margin: auto;
}
.half-width {
    width: 50%;
}
.section-inline {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.f-size-18 {
    font-size: 18px;
}

header {
    padding: 70px 0;
}
.scroll-down img {
    width: 30px;
}
.main-title {
    border-left-width: 4px;
    border-left-style: solid;
    border-image-source: linear-gradient(#FF5959, #FF3939);
    border-image-slice: 1;
    padding-left: 10px;
}
.main-title h1 {
    font-family: 'Yeseva One', cursive;
    font-size: 55px;
    font-weight: 500;
    line-height: 38px;
}
.main-title h1 span {
    color: #FFAD5A;
    display: block;
    margin-top: 30px;
}
.mission-btn {
    background-image: linear-gradient(#FF5959, #FF3939);
    padding: 10px 25px;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    margin-top: 20px;
}
section h2 {
    font-size: 36px;
    margin: 0;
}
.float-right {
    float: right;
}
.feature-image {
    max-width: 400px;
}
.text-center {
    text-align: center;
}
#my-missions {
    background-image: url(images/shapes/dots-bg-2.png);
    background-position: right bottom;
    background-size: 100px;
}
#my-missions h1 {
    font-size: 48px;
    color: #13103a;
    margin-top: 0;
}
#my-missions h1 span, #contact-us h2 span {
    color: #FFAD5A;
}
.section-styles {
    background-repeat: no-repeat;
    padding-bottom: 70px;
}
.bg-position-right {
    background-position: right bottom;
}
.bg-position-left {
    background-position: left bottom;
}
.mission:first-child {
    margin-left: 0;
}
.mission {
    margin: 10px;
    padding: 25px;
    border-radius: 20px;
    width: 30%;
    height: 400px;
}
.mission h3 {
    font-size: 24px;
}
.mission img {
    width: 150px;
}
#without-limit {
    background-image: url(images/shapes/bg-shapes.png);
    background-size: 265px;
}
#without-limit .right-feature {
    width: 60%;
}
#global-communication {
    background-image: url(images/shapes/shape-10.png);
    background-size: 250px;
}
#contact-us {
    background-image: url(images/shapes/dots-bg.png);
    background-size: 150px;
    padding-bottom: 0;
}
#contact-us h2 {
    font-size: 36px;
    color: #13103a;
}
.contact-left img {
    max-width: 480px;
}
.contact-form input[type=text], .contact-form input[type=email], .contact-form textarea {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 25px;
    border: navajowhite;
    border-bottom: 1px solid gray;
    font-size: 16px;
    resize: none;
}
.contact-form input:focus, textarea {
    outline: none;
}
.submit-btn {
    background-image: linear-gradient(#FF5959, #FF3939);
    padding: 10px 25px;
    border-radius: 5px;
    font-size: 16px;
    color: #ffffff;
    border: none;
    cursor: pointer;
}
#footer-section {
    padding: 30px 0;
    margin-top: 70px;
}
#footer-section h2 {
    font-family: 'Lobster', cursive;
    color: white;
    font-weight: 500;
    font-size: 36px;
}
#footer-section span {
    color: #FF5959;
}
#footer-section p {
    font-family: 'Manrope', sans-serif;
    color: #D9DBE1;
    font-size: 14px;
}